#tableItem .column-header#clnProd .label {
    -fx-alignment: CENTER_LEFT;
}

#tableItem .column-header#clnQtd .label {
    -fx-alignment: CENTER_RIGHT;
}

#tableItem .column-header#clnValorUnit .label {
    -fx-alignment: CENTER_RIGHT;
}

#tableItem .column-header#clnTotalItem .label {
    -fx-alignment: CENTER_RIGHT;
}