#tbvwClientes .column-header#clnNome .label {
    -fx-alignment: CENTER_LEFT;
}

#tbvwClientes .column-header#clnCpf .label {
    -fx-alignment: CENTER_LEFT;
}

#tbvwClientes .column-header#clnTelefone .label {
    -fx-alignment: CENTER_LEFT;
}