#tbvwDespesas .column-header#tbclnNome .label {
   -fx-alignment: CENTER_LEFT;
}

#tbvwDespesas .column-header#tbclnValor .label {
   -fx-alignment: CENTER_RIGHT;
}

#tbvwDespesas .column-header#tbclnDataVenc .label {
   -fx-alignment: CENTER;
}

#tbvwDespesas .column-header#tbclnDataPag .label {
   -fx-alignment: CENTER;
}

#tbvwDespesas .column-header#tbclnBene .label {
   -fx-alignment: CENTER_LEFT;
}