#tbvwItens .column-header#clnNome .label {
    -fx-alignment: CENTER_LEFT;
}

#tbvwItens .column-header#clnValor .label {
    -fx-alignment: CENTER_RIGHT;
}

#tbvwItens .column-header#clnTipo .label {
    -fx-alignment: CENTER;
}