.table-view .column-header#tbclnItem {
    -fx-background-color: yellow; /* Cor de fundo do rótulo no cabeçalho */
    -fx-border-color: black; /* Cor da borda do rótulo */
    -fx-alignment: CENTER_LEFT; /* Alinhamento do texto */
}
