#tbvwParcela .column-header#clnNParcela .label {
    -fx-alignment: CENTER_RIGHT;
}

#tbvwParcela .column-header#clnValor .label {
    -fx-alignment: CENTER_RIGHT;
}

#pnVista {
    -fx-border-color: black;
    -fx-border-radius: 6px;
}

#pnPrazo {
    -fx-border-color: black;
    -fx-border-radius: 6px;
}